
body{
    background-image: url('https://us.123rf.com/450wm/nabiev7art/nabiev7art1903/nabiev7art190300058/119808310-vector-night-brick-wall-background-vector-illustration.jpg?ver=6');
    background-color: #cccccc;
    background-size: cover;
    
}

.yellow{
    background-color: yellow;
}

.tile {
    display: block;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(165, 38, 255, 0.431);
   
}

#board {
display: grid;
grid-template-rows: repeat(6, 1fr);
grid-gap: 8px;
padding: 15px;
box-sizing: border-box;
width: 400px;
height: 500px
}

#row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
}

#gamespace {
    display: flex;
    justify-content: center;
    color: rgb(165, 38, 255);
    margin-bottom: 0px;
}



.character {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgba(255, 255, 255, 0);
    border-color: rgba(165, 38, 255, 0);
    border-style: solid; 
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
    /* https://html-css-js.com/css/generator/text-shadow/ */
    text-shadow: 
  .1vw 0vw .25vw #ffffff, .2vw 0vw .25vw #ffffff, .4vw 0vw .25vw #ffffff, 

  .1vw 0vw   0vw #ffffff , .2vw 0vw   0vw #ffffff, .4vw 0vw   0vw #ffffff,
  .1vw 0vw  .1vw #ffffff, .2vw 0vw  .1vw #ffffff, .4vw 0vw  .1vw #ffffff,
  .1vw 0vw   2vw #ffffff, .2vw 0vw   2vw #ffffff, .4vw 0vw   2vw #ffffff, 

  .1vw 0vw   1vw #ffffff, .2vw 0vw   1vw #ffffff, .4vw 0vw   5vw #ffffff, 
  .1vw 0vw   5vw #ffffff, .2vw 0vw  20vw #ffffff, .4vw 0vw  10vw #ffffff,
  .1vw 0vw  10vw #ffffff, .2vw 0vw  30vw #ffffff, .4vw 0vw  10vw #ffffff;
}
.characterYellow {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgba(255, 236, 95, 0);
    stroke: #ffffff;
    border-color: rgba(165, 38, 255, 0);
    border-style: solid; 
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
    animation: blink 0.3s;
    animation-iteration-count: 3;
    
    text-shadow: 
  .1vw 0vw .25vw #fbf785, .2vw 0vw .25vw #fbf785, .4vw 0vw .25vw #fbf785, 

  .1vw 0vw   0vw #d4d003, .2vw 0vw   0vw #d4d003, .4vw 0vw   0vw #d4d003,
  .1vw 0vw  .1vw #d4d003, .2vw 0vw  .1vw #d4d003, .4vw 0vw  .1vw #d4d003,
  .1vw 0vw   2vw #d4d003, .2vw 0vw   2vw #d4d003, .4vw 0vw   2vw #d4d003, 

  .1vw 0vw   1vw #ffea00, .2vw 0vw   1vw #ffea00, .4vw 0vw   5vw #ffea00, 
  .1vw 0vw   5vw #ffea00, .2vw 0vw  20vw #ffea00, .4vw 0vw  10vw #ffea00,
  .1vw 0vw  10vw #ffea00, .2vw 0vw  30vw #ffea00, .4vw 0vw  10vw #ffea00;
}
.characterGreen{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgba(255, 236, 95, 0);
    stroke: #ffffff;
    border-color: rgba(165, 38, 255, 0);
    border-style: solid; 
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
    animation: blink 0.3s;
    animation-iteration-count: 3;
    
    text-shadow: 
  .1vw 0vw .25vw #8ffb85, .2vw 0vw .25vw #8ffb85, .4vw 0vw .25vw #8ffb85, 

  .1vw 0vw   0vw #03d41b, .2vw 0vw   0vw #03d41b, .4vw 0vw   0vw #03d41b,
  .1vw 0vw  .1vw #03d41b, .2vw 0vw  .1vw #03d41b, .4vw 0vw  .1vw #03d41b,
  .1vw 0vw   2vw #03d41b, .2vw 0vw   2vw #03d41b, .4vw 0vw   2vw #03d41b, 

  .1vw 0vw   1vw #15ff00, .2vw 0vw   1vw #15ff00, .4vw 0vw   5vw #15ff00, 
  .1vw 0vw   5vw #15ff00, .2vw 0vw  20vw #15ff00, .4vw 0vw  10vw #15ff00,
  .1vw 0vw  10vw #15ff00, .2vw 0vw  30vw #15ff00, .4vw 0vw  10vw #15ff00;
}
.characterGrey {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.546);
    border-color: rgba(165, 38, 255, 0);
    border-style: solid; 
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
    opacity: 50%;
    
    text-shadow: 
  .1vw 0vw .25vw #ffffff, .2vw 0vw .25vw #ffffff, .4vw 0vw .25vw #ffffff, 
    .1vw 0vw   1vw #ffffff, .2vw 0vw   1vw #ffffff, .4vw 0vw   5vw #ffffff, 
  .1vw 0vw  10vw #ffffff, .2vw 0vw  30vw #ffffff, .4vw 0vw  10vw #ffffff;
}
.characterRed {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgba(255, 236, 95, 0);
    stroke: #ffffff;
    border-color: rgba(165, 38, 255, 0);
    border-style: solid; 
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
    animation: blink 0.3s;
    animation-iteration-count: 3;
    
    text-shadow: 
  .1vw 0vw .25vw #fb8585, .2vw 0vw .25vw #fb8585, .4vw 0vw .25vw #fb8585, 

  .1vw 0vw   0vw #d40303, .2vw 0vw   0vw #d40303, .4vw 0vw   0vw #d40303,
  .1vw 0vw  .1vw #d40303, .2vw 0vw  .1vw #d40303, .4vw 0vw  .1vw #d40303,
  .1vw 0vw   2vw #d40303, .2vw 0vw   2vw #d40303, .4vw 0vw   2vw #d40303, 

  .1vw 0vw   1vw #ff0000, .2vw 0vw   1vw #ff0000, .4vw 0vw   5vw #ff0000, 
  .1vw 0vw   5vw #ff0000, .2vw 0vw  20vw #ff0000, .4vw 0vw  10vw #ff0000,
  .1vw 0vw  10vw #ff0000, .2vw 0vw  30vw #ff0000, .4vw 0vw  10vw #ff0000;

  }

@keyframes blink { 
    50% { border-color:rgba(255, 255, 255, 0) ; }  
    50% { box-shadow: 0 0 10px rgba(0, 0, 0, 0), 0 0 40px rgba(0, 0, 0, 0), 0 0 60px #00000000;}
    50% { background: rgba(2,0,36,0) 0% }
    50% {text-shadow: 
        .1vw 0vw .25vw #fbf78500, .2vw 0vw .25vw #fbf78500, .4vw 0vw .25vw #fbf78500, 
      
        .1vw 0vw   0vw #d4d00300, .2vw 0vw   0vw #d4d00300, .4vw 0vw   0vw #d4d00300,
        .1vw 0vw  .1vw #d4d00300, .2vw 0vw  .1vw #d4d00300, .4vw 0vw  .1vw #d4d00300,
        .1vw 0vw   2vw #d4d00300, .2vw 0vw   2vw #d4d00300, .4vw 0vw   2vw #d4d00300, 
      
        .1vw 0vw   1vw #ffea0000, .2vw 0vw   1vw #ffea0000, .4vw 0vw   5vw #ffea0000, 
        .1vw 0vw   5vw #ffea0000, .2vw 0vw  20vw #ffea0000, .4vw 0vw  10vw #ffea0000,
        .1vw 0vw  10vw #ffea0000, .2vw 0vw  30vw #ffea0000, .4vw 0vw  10vw #ffea0000;}
}
 
header {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    max-width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}


/* keyboard */
textarea {
    width: 100%;
    height: 30%;
    display: flex;

}

.keyboard {
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}


.key {
    
    margin-top: 3px;
    margin-left: 2px;
    margin-right: 2px;
    height: 50px;
    width: 50px;
    flex-basis: auto;
}

.row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-height: 60px;

}

#row-1 {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    align-items: stretch;
    max-height: 60px;
    
    

}

#row-2 {
    margin-right: 1%;
    display: flex;
    align-items: stretch;
    max-height: 60px;
    
    
    
   
}

#row-3 {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    margin-left: 8%;
}

#enter {
    display: flex;
    flex-grow: 10;
    max-width: 100px;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
}

button {
    border-style: none;
    border-radius: 10px;
    border-color: purple;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,0) 0%, rgba(178,0,255,1) 100%);
    color: white;
}

key2 {
    
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,0) 0%, rgba(178,0,255,1) 100%);
    
}

#commentArea{
    height: 50px;
}

  
  
  
  
  
  /* <div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <h1 id="modal-display" ></h1>
  </div>

</div> */

